@model PagedList.IPagedList<BrandCenter.ViewModels.GroupUser>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Group";
    Layout = "~/Views/Shared/TestLayout.cshtml";
}

<h2>Test</h2>

<p>
    @Html.ActionLink("Create New", "GroupUserCreate")
</p>
@using (Html.BeginForm("GroupUserList", "Admin", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("GroupUserId", "GroupUserList", new { sortOrder = ViewBag.NameSortParm, page = ViewBag.Page, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            GROUPID
        </th>
        <th>
            @Html.ActionLink("NAME", "GroupUserList", new { sortOrder = ViewBag.DateSortParm, page = ViewBag.Page, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            USERID
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.GroupUserId.ToString(), "GroupUserDetails", new { id = item.GroupUserId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GROUPID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.USERID)
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("GroupUserList",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))