<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 내 ASP.NET 응용 프로그램</title>
    <script type="text/javascript">

    var rooturl = "@Url.Content("~/")";
        var DateFormat_jQuery = "yy-mm-dd";

    </script>

    @*<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>


    @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/scripts/jquery-ui.css")
    @Scripts.Render("~/scripts/jquery-ui.min.js")*@

    @*@Scripts.Render("~/bundles/jquery-uijs")*@
    @Scripts.Render("~/bundles/Common")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("응용 프로그램 이름", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("홈", "Index", "Home")</li>
                    <li>@Html.ActionLink("정보", "About", "Home")</li>
                    <li>@Html.ActionLink("연락처", "Contact", "Home")</li>
                </ul>
                <p class="nav navbar-text navbar-right">안녕하세요, @User.Identity.Name!</p>
                <p>domain username : @User.Identity.Name</p>
                <p>domain AuthenticationType : @User.Identity.AuthenticationType</p>
                <p>domain IsAuthenticated : @User.Identity.IsAuthenticated.ToString()</p>
                <p>
                domain name :
                @{
                    System.Security.Principal.WindowsIdentity wi = System.Security.Principal.WindowsIdentity.GetCurrent();
                    string[] a = Context.User.Identity.Name.Split('\\');
                   // System.DirectoryServices.DirectoryEntry ADEntry = new System.DirectoryServices.DirectoryEntry("WinNT://" + a[0] + "/" + a[1]);
                    //string Name = ADEntry.Properties["FullName"].Value.ToString();
                    @*<b>@Html.Raw(a[1])</b>*@
                }
                </p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 내 ASP.NET 응용 프로그램</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")

    @Styles.Render("~/bundles/jquery-uicss")
    @Scripts.Render("~/bundles/jquery-uijs")


    @*<script src="@Url.Content("~/scripts/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/scripts/jquery-ui-1.9.2.custom/css/custom-theme/jquery-ui-1.9.2.custom.min.css")" rel="Stylesheet" type="text/css" />*@


    @RenderSection("scripts", required: false)
</body>
</html>
